<a href="https://colab.research.google.com/github/Drey-Tee/SQL/blob/main/SQL_Study_Plan_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Leetcode 595**: Big Countries

**Description** : Table: World

+-------------+------------------+

| Column Name | Type    |

+-------------+-------------------+

| name        | varchar           |

| continent   | varchar           |

| area        | int               |

| population  | int               |

| gdp         | int               |

+-------------+-------------------+

name is the primary key column for this table.
Each row of this table gives information about the name of a country, the continent to which it belongs, its area, the population, and its GDP value.
A country is big if:

it has an area of at least three million (i.e., 3000000 km2), or

it has a population of at least twenty-five million (i.e., 25000000).

Write an SQL query to report the name, population, and area of the big countries.

Return the result table in any order.
The query result format is in the following example.

**URL** : **https://leetcode.com/problems/big-countries/**

In [ ]:
# Write your MySQL query statement below
SELECT name, area, population
FROM World WHERE
area >= 3000000 OR population >= 25000000